.DateInput_input, .DateInput_input_1 {
    text-align: center;
    font-size: inherit ! important;
    Height: 35px !important;
    Width: 100% !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}